<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>信息录入</title>
<script src="../js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<style>
		.flex{
			display:flex;	
		}
		#box input[type=text],#box input[type=password]{
			width: 20%;
			margin-right: 30px;
		}
		body{
			background: #eee;
		}
	</style>
</head>
<body>
<h3 class="text-info">新生信息录入</h3>
<hr>
<div class="container" id="box">
	 <form id="form1" role="form">
		<div class="form-group flex">
			 <label for="username">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学生姓名：</label>
			 <input type="text" id="sname" class="form-control" v-model="sname" placeholder="输入学生名">
			 <label for="age">年龄：</label>
			 <input type="text" id="age" class="form-control"  v-model="age" placeholder="输入年龄">
			 <label for="number">身份证号：</label>
			 <input type="text" id="idNum" class="form-control"  v-model="idNum" placeholder="输入身份证号">
		</div>
		 
		<div class="form-group flex">
			<label for="examNum">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;准考证号：</label>
			<input type="text" id="examNum" class="form-control"  v-model="examNum" placeholder="输入准考证号">
			
			<label for="pwd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：</label>
			<input type="password" id="pwd" class="form-control"  v-model="pwd" placeholder="输入密码">
	
			<label for="school">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毕业学校：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="输入毕业学校">
		</div>
		<div class="form-group flex">
			<label for="telephone">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：</label>
			<input type="text" id="telephone" class="form-control"  v-model="telephone" placeholder="输入电话">
	
			<label for="mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机：</label>
			<input type="text" id="mobile" class="form-control"  v-model="mobile" placeholder="输入手机号">
	
			<label for="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱：</label>
			<input type="text" id="email" class="form-control"  v-model="email" placeholder="输入邮箱">
		</div>
		<div class="form-group flex">
			<label for="department">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系别：</label>
			<input type="text" id="department" class="form-control" v-model="department" placeholder="输入学生所在系别">
			<label for="classc">班级：</label>
			<input type="text" id="classc" class="form-control"  v-model="classc" placeholder="输入新生所在班级">
			<label for="buildings">宿舍楼：</label>
			<input type="text" id="buildings" class="form-control"  v-model="buildings" placeholder="输入新生所在宿舍楼">
	 
			<label for="houseNumber">宿舍门牌号：</label>
			<input type="text" id="houseNumber" class="form-control"  v-model="houseNumber" placeholder="输入新生所在宿舍门牌号">
	 </div>
		<div class="form-group">
			<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别：</label>
			<label for="male"></label><input type="radio" id="male" name="gender" v-model="gender" value="1" checked>男 <label for="female"></label><input type="radio" id="female" name="gender" v-model="gender" value="0">女
			<label for="addressH">&nbsp;&nbsp;家庭地址：</label>
			<input type="text" id="addressH" v-model="addressH" placeholder="输入家庭地址">	
		
			<label for="addressR">&nbsp;&nbsp;接收通知地址：</label>
			<input type="text" id="addressR" v-model="addressR" placeholder="输入接收通知地址">	
		</div>
		<div class="form-group flex">	
			<label><input type="checkbox" id="studentConfirm" name="studentConfirm" v-model="studentConfirm">新生是否已确认录取</label>&nbsp;&nbsp;&nbsp;&nbsp;
			<label><input type="checkbox" id="parentConfirm" name="parentConfirm" v-model="parentConfirm">家长是否已确认录取</label>							
		</div>
		
		<div class="form-group flex">			
			<input type="button"  value="添加" class="btn btn-primary" onclick="add()">
			<input type="reset"  value="重置" class="btn btn-danger">
		</div>
	 </form>
	 <hr/>

	 <script>
		 function add(){

			 $.ajax({
				 url:"/user/reg",
				 type:"get",
				 data:{
					department:$("#department").val(),
					classc:$("#classc").val(),
					buildings:$("#buildings").val(),
					houseNumber:$("#houseNumber").val(),
					sname:$("#sname").val(),
					age:$("#age").val(),
					idNum:$("#idNum").val(),
					examNum:$("#examNum").val(),
					school:$("#school").val(),
					telephone:$("#telephone").val(),
					mobile:$("#mobile").val(),
					email:$("#email").val(),
					pwd:$("#pwd").val(),
					gender:$("#male").is(":checked")?1:0,
					addressH:$("#addressH").val(),
					addressR:$("#addressR").val(),
					studentConfirm:$("#studentConfirm").is("checked")?1:0,
					parentConfirm:$("#parentConfirm").is("checked")?1:0,
					department:$("#department").val(),
					classc:$("#classc").val(),
					buildings:$("#buildings").val(),
					houseNumber:$("#houseNumber").val()
				 },
				 dataType:"json",
				 success:function(result){
					 if(result.code==0){
							alert(result.msg);
					 }else{
							alert("添加成功");
							form1.reset();
					 }
				 }
			 })
		 }
	 </script>
</div>
</body>
</html>