<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>信息录入</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<style>
	.formGroup{
		display:flex;
	}
	.form-group{
		width: 30%;
	}
	body{
    background: #eee;
  }
</style>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>

</head>
<body>
	 <h3 class="text-info">查看已确认录取的新生</h3>
	 <h4 class="text-info">这里统计到了已确认录取的新生的一些信息。涉及到了这些新生的联系电<br>话、收货地址等，以便于学生中心发送纸质录取通知书工作。</h4>
	 <hr>
	 <table class="table table-bordered table-hover">
		 <caption class="h3 text-info">已确认录取新生表</caption>
		 <thead>
		 <tr>
			 <th class="text-center">姓名</th>
			 <th class="text-center">年龄</th>
			 <th class="text-center">性别</th>
			 <th class="text-center">身份证号</th>
			 <th class="text-center">准考证号</th>
			 <th class="text-center">毕业学校</th>
			 <th class="text-center">手机</th>
			 <th class="text-center">家庭地址</th>
			 <th class="text-center">是否已确认录取</th>
			 <th class="text-center">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr v-show="myData.length==0">
				<td colspan="10" class="text-center text-info">
					<p>暂无数据...</p>
				</td>
			</tr>
		 	<!--<tr class="text-center" v-for="item in myData">
			 <td>{{item.sname}}</td>
			 <td>{{item.age}}</td>
			 <td>{{item.gender}}</td>
			 <td>{{item.idNum}}</td>
			 <td>{{item.examNum}}</td>
			 <td>{{item.school}}</td>
			 <td>{{item.mobile}}</td>		 
			 <td>{{item.addressH}}</td>
			 <td>{{item.confirm}}</td>
			 <td>
				 <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=$index">删除</button>
			 </td>
		 	</tr>-->
		</tbody>
	 </table>
	 <!--模态框 弹出框-->
	 <div role="dialog" class="modal" id="layer" data-index="{{nowIndex}}">
		  <div class="modal-dialog">
			  <div class="modal-content">
				  <div class="modal-header">
					  <button class="close" data-dismiss="modal">
						  <span>是否删除信息</span>
					  </button>
					  <h4 class="modal-title">确认删除吗？</h4>
				  </div>
				  <div class="modal-body text-right">
					  <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
					  <button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="del(nowIndex)">确认</button>
				  </div>
			  </div>
		  </div>
	 </div>

	 <script>
      $.ajax({
        url:"/student/confirm",
        type:"get",
        dataType:"json",
        success:function(result){
          var html=``;
          for(var item of result){
            html+=`<tr class="text-center" v-for="item in myData">
							<td>${item.sname}</td>
							<td>${item.age}</td>
							<td>${item.gender}</td>
							<td>${item.idNum}</td>
							<td>${item.examNum}</td>
							<td>${item.school}</td>
							<td>${item.mobile}</td>		 
							<td>${item.addressH}</td>
							<td>${item.confirm}</td>
							<td>
								<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=$index">删除</button>
							</td>
							</tr>`
          }
          $("tbody").html(html);
        }
			})
			$("tbody").on("click","button",function(){
				alert("继续删除吗？");
			})
  </script> 
</body>
</html>