
#cc{
  /* background: url(../img/background.jpg) no-repeat; */
  background-size: cover;
  width: 100%;
  height: 100%;
}
.top{
  background: #ddc;
  padding: 5px 10px;
}
.top a{
  color: #000;
}
.top a:nth-child(2){
  margin-left: 800px;
}
section{
  /* background: url(../img/background.jpg) no-repeat; */
  /* background-size: cover; */
  width: 80%;height:1000px;
  margin: auto;
}
.footer{
  background: darkred;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

section img:first-child{
  width: 650px;
  height: 100px;
}
.font_color1{
  color: darkred;
}
div.daohang{
  /* background-color: rgb(17, 170, 124); */
  background-color: #ddc;
  padding: 3px 10px;
  border-radius: 4px;
  margin-top: 20px;
}
div.daohang ul{
  list-style: none;
}
div.daohang ul li{
  margin-left: 25px;
  padding: 7px;
}
div.daohang ul li:hover{
  background: red;
}
a{
  text-decoration:none; 
}
.flex li a{ 
  color: #fff;
} 
.contain{
  width: 100%;
  height: 420px;
}
.info{
  display: flex;
}
.notice ul{
  list-style: none;
}
.notice,.service{
  width: 49.2%;
  height: 200px;
  border: 1px solid #0a0;
  background: #fff;
}
#toTop{
  position:fixed;
  bottom:100px;
  right:0;
  display:none;
  background: #ffffff;
  width: 40px;
  height: 50px;
}
.chunchun img{
    width:800px;
    height: 510px;
}
.chunchun1  img{
  width:250px;
  height: 125px;

}
.qwe{
  width:100%;
  height:510px;
  display: flex;
}
.pwdcard{
  position:fixed;
  display:none;
  left:50%; top:50%;
  margin-left:-150px;
  margin-top:-50px;
  box-sizing: border-box;
  width:300px; height:100px;
  border: 1px solid #aac;
  background: #ddc;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 2px 3px #aac;
}