<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>信息录入</title>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/vue.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<style>
		.flex{
			display:flex;	
		}
		#box input{
			width: 20%;
			margin-right: 30px;
		}
		body{
			background: #eee;
		}
	</style>
</head>
<body>
<h3 class="text-info">新生信息录入</h3>
<hr>
<div class="container" id="box">
	 <form role="form">
		<div class="form-group flex">
			 <label for="username">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户名：</label>
			 <input type="text" id="username" class="form-control" v-model="username" placeholder="输入用户名">
			 <label for="age">年龄：</label>
			 <input type="text" id="age" class="form-control"  v-model="age" placeholder="输入年龄">
			 <label for="number">身份证号：</label>
			 <input type="text" id="number" class="form-control"  v-model="number" placeholder="输入身份证号">
		</div>
		 
		<div class="form-group flex">
			<label for="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;准考证号：</label>
			<input type="text" id="email" class="form-control"  v-model="email" placeholder="输入准考证号">
			
			<label for="school">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="输入密码">
	
			<label for="school">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毕业学校：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="输入毕业学校">
		</div>
		<div class="form-group flex">
			<label for="school">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="输入电话">
	
			<label for="school">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="输入手机号">
	
			<label for="school">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="输入邮箱">
		</div>
		<div class="form-group flex">
			
			<label for="school">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="输入性别">
	
			<label for="school">&nbsp;&nbsp;家庭地址：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="输入家庭地址">			

			<label for="school">新生是否已确认录取：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="新生是否已确认录取">			
		</div>
		<div class="form-group flex">									
							
			<label for="school">家长是否已确认录取：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="家长是否已确认录取">						
			<label for="school">是否已确认录取：</label>
			<input type="text" id="school" class="form-control"  v-model="school" placeholder="是否已确认录取">					
		</div>
		<div class="form-group flex">			
			<input type="button"  value="添加" class="btn btn-primary" v-on:click="add()">
			<input type="reset"  value="重置" class="btn btn-danger">
		</div>
	 </form>
	 <hr/>
	 
	 <!--模态框 弹出框-->
	 <div role="dialog" class="modal fade" id="layer" data-index="{{nowIndex}}">
		  <div class="modal-dialog">
			  <div class="modal-content">
				  <div class="modal-header">
					  <button class="close" data-dismiss="modal">
						  <span>是否删除信息</span>
					  </button>
					  <h4 class="modal-title">确认删除吗？</h4>
				  </div>
				  <div class="modal-body text-right">
					  <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
					  <button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="del(nowIndex)">确认</button>
				  </div>
			  </div>
		  </div>
	 </div>
</div>
</body>
</html>